[workspace]
resolver = "3"
members = [ 
    ".", 
    "examples/example-clack",
    "examples/example-nih-plug",
    "./clap-wrapper-vst3",
    "./clap-wrapper-auv2"
]

[workspace.dependencies]
cc = "1.2.52"
